[project]
name = "vulx"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.128.0",
    "mypy>=1.19.1",
    "uvicorn[standard]>=0.40.0",
]
